<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petprojects.sub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name="com.petprojects.sub.SubActivity"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/Sub.Theme.Transparent" />

        <activity
            android:name="com.petprojects.sub.SubRewardActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Sub.Theme.Transparent" />

        <receiver
            android:name=".checker.service.SubCheckerBoostReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".checker.service.ReminderService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".checker.service.ReminderReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sub.ACTION_SUB_CHECKER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>